.legend-button {
    z-index: 5;
    position: absolute;
    bottom: 3px;
    left: 3px;
    margin: 0 1px;
    padding: 2px;
    background-color: rgba(102, 102, 102, 0.60);
    border: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 5px;
}
.legend-button-toolbar-item {
    width: 32px;
    height: 32px;
}
.legend-button:hover {
    background-color: rgba(102, 102, 102, 0.90);
}
.legend-button .glyphicon {
    color: #fff;
    font-size: 20px;
    top: 6px;
    left: 6px;
}
.legend-button-label {
    color: #fff
}
